.footerPage {
  background-color: #0000000a;
  height: 50px;
  justify-content: center;
  position: fixed;
  bottom: 0;
}
p.centralPhrase {
  color: #0b253f;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto";
}
a.linkReference {
  color: #e62429;
}
