section {
  height: 100vh;
  background-image: url("https://media0.giphy.com/media/xT4uQcLZYO2ixmudkA/giphy.gif?cid=ecf05e47m1hknu0mbvsfvl12wzt7hcu8qe80c7uwsn75l4dv&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
